Java-Task1-OnlineReservationSystem/bin/
Java-Task1-OnlineReservationSystem/data/reservations.db
Java-Task3-ATM-Interface/bin/

Java-Task4-Online-Examination-System/bin/

Java-Task5-DigitalLibraryManagementSystem/bin/
Java-Task5-DigitalLibraryManagementSystem/library.db
